body{
    background-color: #EEEEEE;
}

.sect-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultados {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-self: center;
  padding: 20px 0;
  height: fit-content;
}