@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #EEEEEE;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

.divisor {
    height: 5px;
    background-color: #C2B078;
}

.sect-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(#111111, #333333);
    padding: 25px;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 50px;
    background-color: #EEEEEE;
    height: 120px;
    align-items: center;
}

.localDePartida, .localDeChegada, .data, .adultos, .criancas, .bebes, .classe-cabine {
    display: flex;
    flex-direction: column;
}

.container label {
    color: #111111;
    font-size: 0.875rem;
}

#Buscar {
    padding: 8px;
    background-color: #C2B078;
    color: #000000;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

#Buscar:hover {
    filter: brightness(95%);
    transition: 200ms;
}

#resultados {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    gap: 20px;
    align-self: center;
  }
  

.card {
    display: inline-block;
    background-image: linear-gradient(#EEEEEE, #dddddd);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 310px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.container input, select {
    height: 35px;
    padding-left: 5px;
    color: #111111;
    border-radius: 5px;
}

.container option {
    color: #111111;
}

.card h3 {
    margin-top: -25px;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #111111;
}

.card p {
    font-size: 0.8em;
    color: #111111;
}

.card button {
    margin-top: 10px;
    font-weight: bold;
    border: none;
    color: #111111;
    background-color: #C2B078;
    height: 35px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
}

.card button:hover {
    filter: brightness(95%);
    transition: 300ms;
}

#mostrarMaisButton {
    display: flex;
    padding: 10px;
    color:#111111;
    background-color: #C2B078;
    justify-self: center;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-top: 25px;
}

#mostrarMaisButton:hover {
    filter: brightness(90%);
    transition: 300ms;
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    color:#131313;
    height: 40vh;
    background-color: #EEEEEE;
    padding: 50px 50px;
}

.caixa-footer {
    width: 50px;
    justify-items: center;
}

.caixa-footer p {
    color: #080808;
    margin-top: 15px;
    font-weight: bold;
}

.caixa-footer:hover {
    filter: invert(10%);
    transition: 300ms;
}

#caixaDeCompra {
    position:absolute;
    border: 5px solid #C2B078;
    z-index: 3;
    width: 55vw;
    height: fit-content;
    background-color:#EEEEEE;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 30px black;
    display: none;
    /*
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    */
    padding: 20px;
}

#caixaDeCompra h1 {
    color: #080808;
    margin-top: 20px;
    margin-bottom: 60px;
}

#caixaDeCompra button {
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #C2B078;
    border: none;
    border-radius: 5px;
    margin-top: 5px
}

#caixaDeCompra button:hover{
    filter: brightness(95%);
}

#caixaDeCompra p{
    color: #000000;
    font-size: 20px;
}

#companhia {
    margin-bottom: 3vw;
}

#caixaDeCompra .textoGuia {
    font-size: 13px;
    color: gray;
}

#fecharCaixaDeCompra {
    cursor: pointer;
}

.g-recaptcha {
    margin-top: 5px;
}

.card .favoritar-btn {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #C2B078; 
    padding: 5px;
    margin-top: -10px;
    transition: color 0.2s ease-in-out;
}

.card .favoritar-btn:hover {
    color: #a09060; /* Cor ao passar o mouse */
}

/* Estilo para o ícone de favoritado */
.card .favoritar-btn.favorited {
    color: #FF6347; /* Cor do coração preenchido (ex: vermelho) */
}